# Workflow to run tests

name: CI

on:
  push:
    branches: [ main, '[0-9]+.[0-9]+.[0-9]+-release*' ]
  pull_request:
    branches: [ main, '[0-9]+.[0-9]+.[0-9]+-release*' ]
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        is_pull_request:
          - ${{ github.event_name == 'pull_request' }}
        exclude:
          # Don't run slow targets on pull request.
          - is_pull_request: true
            os: macos-latest

    runs-on: ${{ matrix.os }}

    steps:
    - name: configure Pagefile
      if: matrix.os == 'windows-latest'
      uses: al-cheb/configure-pagefile-action@v1.5
      with:
        minimum-size: 8
        maximum-size: 16
        disk-root: "D:"

    - uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'zulu'

    # Checkout
    - uses: actions/checkout@v6

    # Build cache
    - name: Cache Gradle
      uses: gradle/actions/setup-gradle@v5

    # Run build
    - name: Build
      run: ./gradlew --stacktrace --info build
