# Workflow to build release artifacts

name: release artifacts

on:
  release:
    types: [ created ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    permissions:
      contents: write

    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'zulu'

    # Checkout
    - uses: actions/checkout@v6

    # Build cache
    - name: Cache Gradle
      uses: gradle/actions/setup-gradle@v5

    # Build KSP artifacts
    - name: build
      run: |
        REF=${{ github.ref }} # refs/tags/$KSP_VERSION
        ./gradlew --info -PkspVersion=${REF:10} -PoutRepo=$(pwd)/build/repos/release publishAllPublicationsToMavenRepository

    - name: pack
      run: cd build/repos/release/ && zip -r ../../artifacts.zip .
    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./build/artifacts.zip
        asset_name: artifacts.zip
        asset_content_type: application/zip
